# Kept out of the release zip that bin/release.sh builds with git archive.
/bin export-ignore
/.vscode export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json export-ignore
/composer.lock export-ignore
